*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.counter{
	width: 30%;
	display: flex;
	justify-content: center;
}

.counter-value{
	height: 50px;
    min-width: 70px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decrement, .increment{
	height: 50px;
	width: 50px;
	padding: 10px;
	border: 2px solid white;
	border-radius: 10px;
	background-color: indianred;
	color: white;
} 